*.pyc
*.txt
__pycache__/
Rotary packed bed/RPB_working_notebook.ipynb
Rotary packed bed/finitevolume.py
Rotary packed bed/RPB sensitivity runs.ipynb
temp/
Rotary packed bed/RPB_notebook copy.ipynb
*.gz
Rotary packed bed/asl_io/read.py
Rotary packed bed/asl_io/asl_io.ipynb
*.nl
Rotary packed bed/asl_io/unknown.lp
Rotary packed bed/asl_io/write.py
Rotary packed bed/json_files/95_PCC_91_RPB_res.sol
*.gz
/Rotary packed bed/asl_io
Rotary packed bed/name.csv
Rotary packed bed/run_single_section.py
